body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #222222;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-bottom: 60px; /* Простір для нижньої навігації */
}

.bottom-nav {
    position: fixed;
    bottom: 20px; /* Змінив значення bottom на 20px */
    width: 100%;
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #444;
}

.nav-button i {
    font-size: 24px;
    margin-bottom: 4px;
}

.nav-button {
    color: #FFF; /* Колір тексту кнопок */
    background-color: #333; /* Колір фону кнопок за замовчуванням */
    border: none;
}

.nav-button:active {
    background-color: #222222; /* Колір фону кнопок при натисканні */
}

.header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-icon {
    position: fixed;
    top: 5px;
    right: 10px;
    font-size: 24px; /* Розмір іконки */
    color: black; /* Колір іконки */
    z-index: 999; /* Забезпечення відображення поверх інших елементів */
    cursor: pointer; /* Змінення вигляду курсору при наведенні */
}

.cog-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 38px;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.settings-window {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1000;
}

.settings-window label {
    display: block;
    margin-bottom: 10px;
}