
.container-mine {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-bottom: 1%;
    margin-top: 10%;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.shop-item {
    background-color: #1f1e1e8f;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    cursor: pointer;
    transition: transform 0.2s;
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-item img {
    width: 100%;
    border-radius: 10px;
}

.item-details {
    margin-top: 10px;
}

.item-name {
    color: #FFF;
    font-size: 14px;
    display: block;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.coffer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: flex-end;
    z-index: 9999;
    animation: fadeIn 0.3s ease-out;
}

.coffer-modal.show {
    display: flex;
}

.modal-content-mine {
    background: #a32526;
    width: 100%;
    height: 60%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-top: 2px solid #FFD700;
    box-shadow: 0px -8px 15px 0px rgba(255, 215, 0, 0.5);
    transform: translateY(100%);
    animation: slideUp 0.2s ease-out forwards;
    z-index: 3001;
}

.close-modal-mine {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

#coffer-image {
    width: 200px;
    border-radius: 10px;
}

.modal-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-container {
    color: #FFD700;
    margin-bottom: 2px;
    display: flex;
    align-items: center; /* Для вирівнювання зображення та тексту */
    font-size: 34px; /* Розмір тексту */
}

.coin-icon-mine {
    margin-right: 5px; /* Відстань між зображенням та текстом */
    width: 36px; /* Висота та ширина зображення */
    height: 36px;
}


#open-coffer {
    background: linear-gradient(135deg, #FFD700, #FFA500);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#open-coffer:hover {
    background: linear-gradient(135deg, #FFA500, #FFD700);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

#coffer-price {
    font-family: 'Roboto Slab', serif;
}

/* Prize CSS */

.prize-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-out;
}

.prize-modal.show {
    display: flex;
}

.prize-modal .modal-content {
    background: #a32526;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #FFD700;
    box-shadow: 0px 0px 15px 0px rgba(255, 215, 0, 0.5);
    animation: none;
    top: -450px;
}

.close-prize-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.prize-description {
    color: #FFD700;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.prize-image {
    width: 200px;
    border-radius: 10px;
}

#claim-prize {
    background: linear-gradient(135deg, #FFD700, #FFA500);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#claim-prize:hover {
    background: linear-gradient(135deg, #FFA500, #FFD700);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

@keyframes shake {
    0% { transform: translateX(-2px); }
    25% { transform: translateX(2px); }
    50% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    100% { transform: translateX(0); }
}

.coffer-price {
    display: inline-block;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}

/* Стиль модального вікна для mine */
.modal-mine {
    display: none;
    position: fixed;
    z-index: 2999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center bottom, rgb(9 255 0), black 70%); /* Радіальний градієнт */
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.modal-mine .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

#skins-button {
    display: block;
    margin: 10px auto;
    padding: 10px 40px;
    background: linear-gradient(135deg, #373737, #000000);
    color: white; /* White text */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#skins-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.skins-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 3001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: radial-gradient(circle at center bottom, rgb(9 255 0), black 70%); /* Радіальний градієнт */
    align-items: center;
    justify-content: center;
}

#skins-button-modal:hover {
    background-color: #45a049; /* Darker green on hover */
}

#skins-button-modal {
    display: block;
    margin: 10px auto;
    padding: 10px 40px;
    background: linear-gradient(135deg, #373737, #000000);
    color: white; /* White text */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 2%; 
    left: 35%;
}

.skins-container {
    display: flex;
    overflow-x: auto;
    padding: 12px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    background: #141414;
    width: 100%;
    margin-top: -180px;
}

.skins-container img {
    width: 80%; /* Width reduced for mobile view */
    height: auto;
    border-radius: 60px;
    object-fit: cover;
    margin: 0 10px; /* Margin for spacing between skins */
    scroll-snap-align: center; /* Center the skin on scroll */
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.6), inset 0 -4px 8px rgba(255, 255, 255, 0.2); /* Depth effect */
    transition: transform 0.3s;
}

.skins-container img:hover {
    transform: scale(1.05);
}

.modal-open {
    overflow: hidden;
}
