
.container-globe {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-bottom: 60px; /* Простір для нижньої навігації */
}

.header-globe {
    position: absolute;
    top: 10px;
    left: 10px;
    color: gold;
    font-size: 24px;
}

#leaderboard {
    margin-top: 20px;
    text-align: left;
    border: 3px solid #000; /* Збільшено товщину бордюра */
    border-radius: 15px; /* Збільшено радіус кута */
    padding: 20px; /* Збільшено відступи всередині блоку */
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Збільшено тінь */
}


#leaderboard h2 {
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
}

#leaderboardList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#leaderboardList li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

#leaderboardList li:nth-child(1) {
    background-color: #ffd700;
}

#leaderboardList li:nth-child(2) {
    background-color: #c0c0c0;
}

#leaderboardList li:nth-child(3) {
    background-color: #cd7f32;
}

#leaderboardList li:nth-child(odd) {
    background-color: #f0f0f0;
}

#leaderboardList li:nth-child(even) {
    background-color: #e0e0e0;
}
