.container-globe {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-bottom: 60px; /* Простір для нижньої навігації */
    overflow: hidden; /* Запобігає вертикальній прокрутці */
}

.header-globe {
    position: absolute;
    top: 10px;
    left: 10px;
    color: gold;
    font-size: 24px;
}

#leaderboard {
    margin-top: 20px;
    text-align: left;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.9));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

#leaderboard h2 {
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
    color: #333;
}

#leaderboardList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

#leaderboardList li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; /* Збільшуємо відступи для більшого простору */
    border-radius: 10px; /* Збільшуємо радіус кута */
    transition: background-color 0.3s, transform 0.3s; /* Додаємо плавні переходи */
}

#leaderboardList li:nth-child(1) {
    background-color: #ffd700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leaderboardList li:nth-child(2) {
    background-color: #c0c0c0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leaderboardList li:nth-child(3) {
    background-color: #cd7f32;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#leaderboardList li:nth-child(odd) {
    background-color: #f8f8f8;
}

#leaderboardList li:nth-child(even) {
    background-color: #e8e8e8;
}

#leaderboardList li.highlight {
    background-color: #add8e6; /* Виділення поточного користувача */
}

#leaderboardList li:hover {
    transform: scale(1.02); /* Додаємо ефект збільшення при наведенні */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Додаємо тінь при наведенні */
}

.username {
    font-weight: bold;
    color: #333;
}

.clicks-level {
    font-size: 0.9em;
    color: #666;
}

.avatar-leaderboard {
    width: 45px;
    height: 45px;
    border-radius: 25%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    align-items: center;
}

.place {
    font-size: 1.5em;
    font-weight: bold;
    width: 100px;
    text-align: right;
    color: #333;
    margin-left: auto;
}
/* Стиль модального вікна для airdrop */
.modal-airdrop {
    display: none;
    position: fixed;
    z-index: 2997;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center bottom, rgb(0 180 255), black 70%); /* Радіальний градієнт */
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.modal-airdrop .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}
