/* drop_styles.css */

/* Основні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 400px;
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.golden-text {
    color: gold;
    font-weight: bold;
}

.cog-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.settings-window {
    display: none;
    background-color: #555;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

#leaderboard {
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px;
}

#leaderboard h2 {
    margin-top: 0;
}

#leaderboardList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#leaderboardList li {
    background-color: #938439;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank {
    font-weight: bold;
}

.username {
    margin-right: auto;
    margin-left: 10px;
}

.click-count {
    font-size: 1.5em;
    font-weight: bold;
}

/* Стилі для кольорових позицій */
.gold {
    background-color: #ffd700;
}

.silver {
    background-color: #c0c0c0;
}

.bronze {
    background-color: #cd7f32;
}

/* Навігаційна панель внизу */
.bottom-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-button {
    flex: 1;
    background-color: #555;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.nav-button.active,
.nav-button:hover {
    background-color: #777;
}

/* Власні іконки Line Awesome */
.nav-button i {
    display: block;
    font-size: 1.5em;
}
